<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :skill_id, class: "sr-only" %>
    <%= form.text_field :skill_id, class: "form-control", placeholder: "Skill" %>
  </div>


  <div class="field custom-radio"> <!-- "column" -->
    <h5>Experience Level</h5>
  <div class="form-check">
    <%= form.radio_button :experience, Service.experiences.keys[0], id: "radio0", class: "custom-control-input" %>
    <%= form.label Service.experiences.keys[0], Service.experiences.keys[0].titleize, for: "radio0", class: "custom-control-label" %>
  </div>
  <div class="form-check">
    <%= form.radio_button :experience, Service.experiences.keys[1], id: "radio1", class: "custom-control-input" %>
    <%= form.label Service.experiences.keys[1], Service.experiences.keys[1].titleize, for: "radio1", class: "custom-control-label" %>
  </div>
  <div class="form-check">
    <%= form.radio_button :experience, Service.experiences.keys[2], id: "radio2", class: "custom-control-input" %>
    <%= form.label Service.experiences.keys[2], Service.experiences.keys[2].titleize, for: "radio2", class: "custom-control-label" %>
  </div>
  <div class="form-check">
    <%= form.radio_button :experience, Service.experiences.keys[3], id: "radio3", class: "custom-control-input" %>
    <%= form.label Service.experiences.keys[3], Service.experiences.keys[3].titleize, for: "radio3", class: "custom-control-label" %>
  </div>
  <div class="form-check">
    <%= form.radio_button :experience, Service.experiences.keys[4], id: "radio4", class: "custom-control-input" %>
    <%= form.label Service.experiences.keys[4], Service.experiences.keys[4].titleize, for: "radio4", class: "custom-control-label" %>
    
  </div>
    <%#= form.collection_radio_buttons :experience, Service.experiences.keys[0] %>
  </div>

  <div class="field">
    <%= form.label :description, class: "sr-only" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Describe the service you're offering and why people should pick you.", rows: 3 %>
  </div>

  <div class="field">
    <%= form.label :price, class: "sr-only" %>
    <%= form.number_field :price, class: "form-control", placeholder: "$ Price /1 hour" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Your Service", class: "btn btn-lg btn-primary btn-block" %>
  </div>

<% end %>
