<div class="profile-container">

<p>
  <%= image_tag @service.user.avatar, class: "profile-image" %>
</p>

<div class="services-show">
  <!-- <p>
    <strong>User:</strong>
    <%= @service.user %>
  </p> -->

  <p>
    <strong>Name:</strong>
    <%= @service.user.name %>
  </p>
  
  <p>
    <strong>Skill:</strong>
    <%= @service.skill.name %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= @service.experience.titleize %>
  </p>

  <p class="description">
    <strong>Description:</strong>
    <%= @service.description %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= @service.price %>/h
  </p>

<% if @service.user_id == current_user.id %>
  <%= link_to 'Edit Service', edit_service_path(@service), class:"btn btn-outline-primary" %>
<% end %>
  <%#= link_to 'Back', services_path %>

<div class="reviews-card-container">
<h1>Reviews</h1>


<% if @service.user_id != current_user.id %>
  <%= render 'reviews/form', review: @review %>
<% end %>

<% @reviews.each do |review| %>
<div class="reviews-card">
  <div class="card">
    <div class="card-header">
      <a href = "#" ><%= review.user.name.titleize %></a>
    </div>
    <div class="card-body">
      <p class="card-text"><%= review.content %></p>
  </div>
</div>
<% end %>
</div>