<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @service.user.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%= @service.user %>
</p> 

 
<p>
  <strong>Skill:</strong>
  <%= @service.skill %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @service.experience %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
