<h1 class="mentor-heading"><%= @category.titleize %></h1>

<div class="container1">

<div class="interests">
  <% if current_user %>
    <h2>Interests</h2>
    <ul>
      <%= form_with(url: interests_path, method: "post") do %>
        <%= text_field_tag :link, nil, name: "interest", placeholder: "Add an Interest" %>
        <%= submit_tag nil, style: "display: none;" %> 
      <% end %>

      <li>
        <%= link_to "None", root_path(interest: "random"), class: "#{'active' if params[:interest] == 'random'}" %>
      </li>
      
      <li>
        <%= link_to "All", root_path(interest: "all"), class: "#{'active' if params[:interest] == 'all'}" %>
      </li>

      <% @interests.each do |interest| %>
        <li>
          <%= link_to interest.name.titleize, root_path(interest: interest.name), class: "#{'active' if params[:interest] == interest.name}" %><%= link_to(" x", interest_path(interest), method: :delete, data: { confirm: "Are you sure that you want to remove #{interest.name} from your interests?" }) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


<div class="container2">

    <% @sample.each do |service| %>
    <div class="user-card">
        <%= link_to image_tag(service.user.avatar), service_path(service) %>
        <h4><%#= link_to service.name, service_path(service) %>
            <%= link_to service.user.name, service_path(service) %>
            </h4> <%# change to service_path %>
        <span><%= service.price %>$/h</span>
    </div>
<% end %>

</div>

</div>