<h1 class="mentor-heading">Mentor Category Will Go Here</h1>

<div class="container1">

<div class="interests">
  <% if current_user %>
    <h2>Interests</h2>
    <ul>
      <%= form_with(url: interests_path, method: "post") do %> <%# path should work %>
        <%= text_field_tag :link, nil, name: "interest", placeholder: "Add an Interest" %>
        <%= submit_tag nil, style: "display: none;" %> 
      <% end %>

      <li><%= link_to "None", feeds_path %></li>
      <li><%= link_to "All", 'http://google.com' %></li>
      <% @interests.each do |interest| %>
        <li><%= link_to interest.name, 'http://google.com' %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="container2">

    <% @sample.each do |user| %>
    <div class="user-card">
        <%= link_to image_tag(user.avatar), profile_path %>
        <h4><%= link_to user.name, profile_path %></h4>
        <span>25$/h</span>
    </div>
<% end %>

</div>

</div>