<div class="profile-container">
<h1 class= "profile-heading">My Profile</h1>

<div class= "show">

    

    <div> 
        <%= image_tag(current_user.avatar_url, class:"profile-image")  unless current_user.avatar_url.nil?  %>

    </div> 

    <p>
        <h2>About Me</h2>
        <%= @description %>
    </p>

    <div>
        <h2>My Services Provided</h2>
        <ul>
        <% @services.each do |service| %>
            <li><%= link_to service.skill.name.titleize, service_path(service) %></li>
        <% end %>
        </ul>
    </div>

    <div>
        <h2>Reviews Received</h2>
        <% current_user.reviews.each do |review|%> 
            <%= review.content%>
        <% end %>
    </div>

    <div>
        <h2>Reviews Left</h2>
        <% current_user.reviews.each do |review|%> 
            <%= review.content%>
        <% end %>
    </div> 

    <%=link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-primary" %> 

</div>
</div>













