<%# <section class="hero"> 
    <div class="container">
        <h1> Mentor Find </h1>
        <div class="row">
            <div class="col-md-7"> 
                <p class="text-white"> Educating the Community </p>
            </div>
        </div>
    </div>
</section>  %>

<!-- HERO -->
<div class="carousel slide" id="slides" data-ride="carousel"> 
<ul class="carousel-indicators"> 
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li> 
</ul>
    <div class="carousel-inner"> 
        <div class="carousel-item active">
            <%= image_tag "climb.jpg", class:"hero" %>
                <div class="carousel-caption">
                <h1 class="display-2"> Mentor Find </h1>
                <h3> Educating the Community </h3>
                </div> 
        </div>
        <div class="carousel-item">
            <%= image_tag("hero.jpg") %>
        </div>
        <div class="carousel-item">
            <%= image_tag("code_mentor.jpg") %>
        </div>
    </div>
</div> 

<!-- SOCIAL PROOF LOGOS-->
<div class="container-fluid padding">
    <div class="row social text-center">
        <div class="col-12">
        <h1 class="display-4"> Mentor Find Stories </h1>
        <hr> 
        </div>
    </div>
</div>
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4"> 
        <div class="card"> 
            <%= image_tag("sinan.png", class:"card-img-top") %>
            <div class="card-body">
                <h4 class="card-title"> Sinan d'Great </h4> 
                <p class="card-text"> Sinan the Great is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p> 
                <a href="#" class="btn btn-outline-secondary"> See Profile </a>
            </div>
        </div>
    </div> 
    <div class="col-md-4"> 
        <div class="card"> 
            <%= image_tag("suit_dog.jpeg", class:"card-img-top") %>            
            <div class="card-body">
                <h4 class="card-title"> Adam SandBag </h4> 
                <p class="card-text"> Sinan the Great is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p> 
                <a href="#" class="btn btn-outline-secondary"> See Profile </a>
            </div>
        </div>
    </div> 
    <div class="col-md-4"> 
        <div class="card"> 
            <%= image_tag("sunglassdude.jpg", class:"card-img-top") %>            
            <div class="card-body">
                <h4 class="card-title"> Ryan Secrets </h4> 
                <p class="card-text"> Sinan the Great is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p> 
                <a href="#" class="btn btn-outline-secondary"> See Profile </a>
            </div>
        </div>
    </div>
</div>
</div>

<!-- SOCIAL PROOF LOGOS-->
<div class="container-fluid padding">
    <div class="row social text-center">
        <div class="col-12"> 
            <h1 class="display-4"> 
            <hr>
            <p class="lead"> Checkout out some of the companies that use Mentor Find.</p>
                    <div class="sales-team-logo-wrapper">
                            <div class="sales-team-logo-item">
                                <img src="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a393ee4466ffb2_Asset%201.png" srcset="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a393ee4466ffb2_Asset%201-p-500.png 500w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a393ee4466ffb2_Asset%201.png 739w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 18vw, 140px" alt="" class="sales-team-logo-image"> 
                            </div> 
                            <div class="sales-team-logo-item">
                            <img src="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a3931ac066ffb3_Asset%202.png" srcset="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a3931ac066ffb3_Asset%202-p-500.png 500w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a3931ac066ffb3_Asset%202-p-800.png 800w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a3931ac066ffb3_Asset%202-p-1080.png 1080w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74d6a3931ac066ffb3_Asset%202.png 1111w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 18vw, 140px" alt="" class="sales-team-logo-image">
                            </div>
                            <div class="sales-team-logo-item">
                            <img src="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74ffcf8a50ea2a4f05_Asset%204.png" srcset="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74ffcf8a50ea2a4f05_Asset%204-p-500.png 500w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74ffcf8a50ea2a4f05_Asset%204-p-800.png 800w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74ffcf8a50ea2a4f05_Asset%204.png 821w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 18vw, 140px" alt="" class="sales-team-logo-image">
                            </div>
                            <div class="sales-team-logo-item">
                            <img src="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74fcceb98e53cf1b98_Asset%203.png" srcset="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74fcceb98e53cf1b98_Asset%203-p-500.png 500w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c74fcceb98e53cf1b98_Asset%203.png 723w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 18vw, 140px" alt="" class="sales-team-logo-image">
                            </div>
                            <div class="sales-team-logo-item">
                            <img src="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c75d6a39300a566ffb4_Asset%205.png" srcset="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c75d6a39300a566ffb4_Asset%205-p-500.png 500w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c75d6a39300a566ffb4_Asset%205.png 723w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 18vw, 140px" alt="" class="sales-team-logo-image">
                            </div> 
                            <div class="sales-team-logo-item">
                            <img src="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c7597c69720de1ada80_Asset%206.png" srcset="https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c7597c69720de1ada80_Asset%206-p-500.png 500w, https://uploads-ssl.webflow.com/5a85eb3c38ceec00011b0834/5ada2c7597c69720de1ada80_Asset%206.png 757w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, (max-width: 991px) 18vw, 140px" alt="" class="sales-team-logo-image">
                            </div>
                    </div> 
            <hr>
        </div>
    </div>
</div>





<!--CALL TO ACTION -->
<div> 
</div>
