<div class="profile-container">

<p>
  <%= image_tag @service.user.avatar_url, class: "profile-image" %>
</p>

<div class="services-show">
  <!-- <p>
    <strong>User:</strong>
    <%= @service.user %>
  </p> -->

  <p>
    <strong>Name:</strong>
    <%= link_to @service.user.name, profile_path %>
  </p>
  
  <p>
    <strong>Skill:</strong>
    <%= @service.skill.name %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= @service.experience.titleize %>
  </p>

  <p class="description">
    <strong>Description:</strong>
    <%= @service.description %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= @service.price %>/h
  </p>

<!-- Stripe payments -->
<% if @service.user_id == current_user.id %>
  <%= link_to 'Edit Service', edit_service_path(@service), class:"btn btn-outline-primary" %>
<% else %>
  <%= form_with url: "/purchases" do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
   <!-- <label class="amount">
      <span>Amount: $<%= @service.price %></span>
    </label> -->
    <div>
      <input type="hidden" name="service_values[price]" value="<%= @service.price %>" />
      <input type="hidden" name="service_values[id]" value="<%= @service.id %>" />
    </div>
  </article>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.credentials.stripe[:publishable] %>"
          data-description="A month's subscription"
          data-amount="<%= @service.price * 100 %>"
          data-currency="aud"
          data-locale="auto"
          data-zip-code="true"
          data-email=<%= current_user.email %>></script>
  <% end %>
<% end %>
  <%#= link_to 'Back', services_path %>

<div class="reviews-card-container">
<h1>Reviews</h1>


<% if @service.user_id != current_user.id && (@reviews.pluck(:user_id).count(current_user.id) < 1) && current_user.purchases.where(service_id: @service.id).exists? %>
  <%= render 'reviews/leave_review', review: @review %>
<% end %>

<% @reviews.each do |review| %>
<div class="reviews-card">
  <div class="card">
    <div class="card-header">
      <%= link_to review.user.name.titleize, profile_path(review.user.id) %>
      <span class="float-right"><%= 'Posted on ' + review.created_at.to_date.to_s%></span>

    </div>
    <div class="card-body">
      <p class="card-text"><%= review.content %></p>
      <% if review.user.id == current_user.id %>
        <p class="float-right">
          <%= link_to 'Edit Review', edit_review_path(review) %> | 
          <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      <% end %>
  </div>
</div>
<% end %>
</div>
  