<h1 class="mentor-heading">
  <%= @category %>
</h1>

<div class="feed-container">
  <div class="interests">
    <% if current_user %>
    <h2 class="interest-heading">Interests</h2>
    <ul>
      <%= form_with(url: interests_path, method: "post") do %>
      <%= text_field_tag :link, nil, name: "interest", placeholder: "Add Interest", class: "form-control" %>
      <%= submit_tag nil, class: "hide" %>
      <% end %>

      <li>
        <%= link_to "None", root_path(interest: "random"), class: "#{'active' if params[:interest] == 'random'}" %>
      </li>

      <li>
        <%= link_to "All", root_path(interest: "all"), class: "#{'active' if params[:interest] == 'all' || params[:interest] == nil}" %>
      </li>

      <% @interests.each do |interest| %>
      <li>
        <%= link_to interest.name.titleize, root_path(interest: interest.name), class: "#{'active' if params[:interest] == interest.name}" %>
        <%= link_to(" x", interest_path(interest), method: :delete, class: 'red-x', data: { confirm: "Are you sure that you want to remove #{interest.name} from your interests?" }) %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>


  <div class="cards-container">
    <% @sample.each do |service| %>
    <div class="card m-2" style="width: 18rem;">
      <%= link_to image_tag(service.user.avatar_url, class: "card-img-top"), service_path(service) %>
      <div class="card-body">
        <h4>
          <%= link_to service.user.name.titleize, service_path(service), class: "card-title" %>
        </h4>
        <% if @true %>
        <strong>
          <%= service.skill.name.titleize  %></strong>
        <% end %>

        <p class="card-text">
          <%= truncate(service.description, length: 200) %>
        </p>
        <p class="price">$
          <%= service.price %>/h
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>