<!-- HERO -->
<div class="carousel slide" id="slides" data-ride="carousel"> 
<ul class="carousel-indicators"> 
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li> 
</ul>
    <div class="carousel-inner"> 
        <div class="carousel-item active">
            <%= image_tag("climb.jpg") %>
                <div class="carousel-caption">
                <h1 class="display-2"> Mentor Find </h1>
                <h3> Educating the Community </h3> 
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light btn-lg", id: "btn-hero"%>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-lg", id: "btn-hero" %>
                </div> 
        </div>
        <div class="carousel-item">
            <%= image_tag("surf.jpg") %> 
            <div class="carousel-caption">
                <h1 class="display-2"> Mentor Find </h1>
                <h3> Educating the Community </h3>
                <%= link_to "Login", new_user_session_path, class: "btn btn-outline-info btn-lg", id: "btn-hero" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-info btn-lg", id: "btn-hero" %>
                
            </div> 
        </div>
        <div class="carousel-item">
            <%= image_tag("code_mentor.jpg") %> 
            <div class="carousel-caption">
                <h1 class="display-2"> Mentor Find </h1>
                <h3> Educating the Community </h3>
                <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light btn-lg", id: "btn-hero"%>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-lg", id: "btn-hero" %>
            </div> 
        </div>
    </div>
</div> 

<!-- SOCIAL PROOF LOGOS-->
<div class="container-fluid padding">
    <div class="row social text-center">
        <div class="col-12">
        <h1 class="display-4"> Community Stories </h1>
        <hr> 
        </div>
    </div>
</div>
<div class="container-fluid padding">
<div class="row padding">
    <div class="col-md-4"> 
        <div class="card"> 
            <%= image_tag("user1.jpg", class:"card-img-top") %>
            <div class="card-body">
                <h4 class="card-title"> Sinan d'Great </h4> 
                <p class="card-text"> "Mentor Find changed my life! I was used to be a disaster in the kitchen, but now with the help and guidance from Bob, I feel like I can take on Gordon Ramsey!"</p> 
            </div>
        </div>
    </div>
    <div class="col-md-4"> 
        <div class="card"> 
            <%= image_tag("user2.jpg", class:"card-img-top") %>            
            <div class="card-body">
                <h4 class="card-title"> Adams Family </h4> 
                <p class="card-text"> "Not only have I met a mentor, but I have also made a friend for life. Mentor Find is not only beneficial in honing your skill, but it also lets you meet many great human beings and lets you create unique experiences."</p> 
            </div>
        </div>
    </div> 
    <div class="col-md-4"> 
        <div class="card"> 
            <%= image_tag("user3.jpg", class:"card-img-top") %>            
            <div class="card-body">
                <h4 class="card-title"> Ryan Secrets </h4> 
                <p class="card-text"> "This app is genius! I did not think to find an expert at something and that is willing to pass down the knowledge could be this easy. Since I installed Mentor Find I have been smashing the waves! Look out ladies! You can now call me - Johny Tsunami"</p> 
            </div>
        </div>
    </div>
</div>
</div>

<!-- SOCIAL PROOF LOGOS-->
<div class="container-fluid padding">
    <div class="row social text-center">
        <div class="col-12"> 
            <h1 class="display-4"> 
            <hr>
            <p class="lead"> Mentor Find is Trusted by Smart Development Teams</p>
                    <div class="sales-team-logo-wrapper">
                            <div class="sales-team-logo-item">
                            <%= image_tag("thumbtack.png", class:"sales-team-logo-image") %> 
                            </div> 
                            <div class="sales-team-logo-item">
                            <%= image_tag("mattermark.png", class:"sales-team-logo-image") %>
                            </div>
                            <div class="sales-team-logo-item">
                            <%= image_tag("lever.png", class:"sales-team-logo-image") %>   
                            </div>
                            <div class="sales-team-logo-item">
                            <%= image_tag("clearbit.png", class:"sales-team-logo-image") %>     
                            </div>
                            <div class="sales-team-logo-item">
                            <%= image_tag("envoy.png", class:"sales-team-logo-image") %> 
                            </div> 
                            <div class="sales-team-logo-item">
                            <%= image_tag("gusto.png", class:"sales-team-logo-image") %>                             
                            </div>
                    </div> 
            <hr>
        </div>
    </div>
</div>


<!--CALL TO ACTION -->
<figure>
<div class="fixed-wrap"> 
<div id="fixed"> 
<div class="bs-calltoaction bs-calltoaction-primary">
                <div class="row">
                    <div class="col-md-9 cta-contents">
                        <h1 class="cta-title">What do you want to master today?</h1>
                        <div class="cta-desc">
                            <p>Get matched with a mentor in your area right now!</p>
                        </div>
                    </div>
                        <div class="col-md-3 cta-button">
                        <%= link_to "Find a Mentor!", new_user_session_path, class:"btn btn-lg btn-block btn-primary"%>
                        </div>
                </div>
            </div> 
</div>
</div>
</figure>

<!-- FEATURES -->
<div class="container-fluid padding">
    <div class="row padding"> 
        <div class="col-lg-6" id="philosophy">
        <h2> Our Philosophy </h2> 
        <p>“The best thing for being sad," replied Merlin, beginning to puff and blow, "is to learn something. That's the only thing that never fails. You may grow old and trembling in your anatomies, you may lie awake at night listening to the disorder of your veins, you may miss your only love, you may see the world about you devastated by evil lunatics, or know your honour trampled in the sewers of baser minds. There is only one thing for it then — to learn. Learn why the world wags and what wags it. That is the only thing which the mind can never exhaust, never alienate, never be tortured by, never fear or distrust, and never dream of regretting. Learning is the only thing for you. Look what a lot of things there are to learn.” 
        ― T.H. White, The Once and Future King </p> 
        
        <p>Mentor Find's brand philosophy brings to life the real opportunity that exists inside the shared economy. Our brand is the poster child of modern authenticity, built on a simple philosophy of belonging and giving back. We are more than business and instead help you spark a strong bond between strangers and develop a relationship between apprentince and master. </p> 

        
        
        </div>
            <div class="ml-auto col-lg-4"> 
            <%= image_tag("cooking_mentor.gif", class:"cook") %>
        </div>
    </div>
</div>
<hr>

<!--CALL TO ACTION -->
<div class="container-fluid padding" id="cta">
<div class="row text-center padding"> 
    <div class="col-12 cta padding">
        <h2 id="join">Join Thousands of Mentees & Mentors!</h2>
        <%= link_to "Be a Mentee", new_user_session_path, class:"btn btn-primary btn-lg"%>
        <%= link_to "Become a Mentor", new_user_session_path, class:"btn btn-primary btn-lg"%>
    </div>     
</div> 
</div> 

<hr> 

<!--SOCIAL -->
<div class="container-fluid padding">
<div class="row text-center padding"> 
    <div class="col-12">
    <h2> FOLLOW US </h2>
        </div>
            <div class="col-12 network padding">
            <a href="facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="youtube.com"><i class="fab fa-youtube"></i></a>
            <a href="reddit.com"><i class="fab fa-reddit"></i></a>
        </div>
</div>
</div>

<!--FOOTER -->
<footer>
    <div class="container-fluid padding">
    <div class="row text-center"> 
        <div class="col-md-4">
        <%# <img logo here> %> 
            <hr class="light"> 
            <h5> MENTOR FIND </h5>
            <hr class="light">
            <p> 4242-4242-42 </p>
            <p> mentor.find.mailer@gmail.com </p>
            <p> 2/7 Kelly St. </p>
            <p> Ultimo, NSW, 2000 </p>
        </div> 
        <div class="col-md-4">
            <%= image_tag("logo.png", class:"logo") %>
        </div>    
        <div class="col-md-4">
        <hr class="light"> 
        <h5> Come Visit Us! </h5>
        <hr class="light"> 
            <p> London, United Kingdom </p>
            <p> San Francisco, USA </p>
            <p> Sydney, Australia </p>
        </div>    
        <div class="col-12">
        <hr class="light-100"> 
        <h5> &copy; www.mentorfind.com </h5>
        </div>
    </div>    
    </div>    
</footer>
