    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <%= link_to "MENTOR FIND", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collaps  data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="fals  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
        <% if current_user %>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <%= link_to "Profile", profile_path(current_user.id), class: "nav-link #{'active' if current_page?("/profile")}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Become a Mentor", new_service_path, class: "nav-link #{'active' if current_page?("/services/new")}" %>
            </li>
            <li>
              <%= link_to "Purchase History", purchases_path, class: "nav-link #{'active' if current_page?("/purchase_history")}" %>
            </li>
          </ul>

          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <%= form_tag(root_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
            <%= text_field_tag("[feed]Search", nil, placeholder: "Find a mentor at...", class: "form-control mr-sm-2") %>
            <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
          <% end %>
        <% end %>
        </div>
      </nav>