<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @purchase.service %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @purchase.charge_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
