<!DOCTYPE html>
<html>
  <head>
    <title>MentorFind2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= form_with(url: feeds_path, method: "post") do |form| %>
      <% if current_user %>
        <%= search_field :search, :term, placeholder: "Mentor category..." %>
      <% end %>
      <%= submit_tag nil, style: "display: none;" %>
    <% end %>

    <%= yield %>
  </body>
</html>
